<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    
    <div style="background-color: pink;height: 300px;">
           <div style="text-align: center;">
            <h1>Hi WELCOME TO ANGULAR APP </h1>
               <h3>
                <form>
                    NAME :<input type="text"> <br> 
                    Pass: <input type="password"><br><br>
    
                    <input type="submit" value="LOGIN">
                   <input type="reset">
                </form>
               </h3>
           </div>

    </div>